<h2 class="text-primary">User Saved Articles</h2>

<div class="container">

    <div id="savedArticles" class="articlesBackground">
        <div>
            {{#each dbArticle}}
                <div class="card my-4 p-4 text-center" style="width: 40rem;">
                    <div class="card-header">
                        <h3>{{title}} </h3>
                        <button type="button" class="addNoteButton btn btn-success float-left" 
                        data-toggle="modal" data-target="#addNoteModal" id="{{_id}}">
                            Add Note 
                        </button> 
                        {{!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#setAnId">
                        Add Note
                        </button> --}}
                    </div> 
                    <div class="card-body">
                        <a class="text-info mx-auto" rel="noopener noreferrer" target="_blank" href="{{link}}">{{link}}</a>
                         <button id="{{_id}}" class="deleteButton btn btn-danger float-right">Delete Article</button>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>


</div>

<section>
    {{> noteModal}}
</section>

